---
- name: Copy blueprint template packages are listed in defaults or add with -e blueprint_packages=<packagename>
  ansible.builtin.template:
    src: templates/blueprint.toml.j2
    dest: "/tmp/blueprint.toml" 

- name: Push Blueprint to Server
  command: >
    composer-cli blueprints push /tmp/blueprint.toml

- name: Resolve Dependencies
  command: >
    composer-cli blueprints depsolve {{ blueprint_name }}

- name: Freeze Blueprint
  command: >
    composer-cli -j blueprints freeze {{ blueprint_name }}
  register: frozen_blueprint

# - name: Set Blueprint Version Number
#   set_fact:
#     blueprint_version: "{{ (frozen_blueprint.stdout | from_json).blueprints[0].blueprint.version }}"

- name: Image Builder
  block:
    - name: Compose Image
      command: >
        composer-cli -j compose start {{ blueprint_name}} rhel-edge-commit
      register: composed_image

    # - name: Set Build Number
    #   set_fact:
    #     build_id: "{{ (composed_image.stdout | from_json).build_id }}"

    - name: Wait for Image Build to Complete
      command: >
        composer-cli -j compose status
      delay: 30
      retries: 200
      changed_when: false
      # failed_when: not (image_build_status.stdout | from_json | selectattr('id', 'equalto', build_id) | list | first).finished and (image_build_status.stdout | from_json | selectattr('id', 'equalto', build_id) | list | first).status != "FINISHED"
      # until: (image_build_status.stdout | from_json | selectattr('id', 'equalto', build_id) | list | first).finished and (image_build_status.stdout | from_json | selectattr('id', 'equalto', build_id) | list | first).status == "FINISHED"
      register: image_build_status

# - name: Save commit id to file
#   local_action: copy content="{{ build_id }}" dest="{{ build_commit_output_file }}"
#   become: no